*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f4f7ff;
}

/* NAVBAR */

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 8%;
  background:#0d1b2a;
}

.logo{
  color:#00b4d8;
  font-size:32px;
  font-weight:bold;
}

.menu{
  display:flex;
  list-style:none;
  gap:20px;
}

.menu li a{
  color:white;
  text-decoration:none;
}

/* HERO */

.hero{
  height:80vh;

  background:#1d3557;

  color:white;

  display:flex;
  justify-content:center;
  align-items:center;

  text-align:center;
}

.content h1{
  font-size:60px;
  margin-bottom:20px;
}

.content p{
  margin-bottom:25px;
}

button{
  padding:14px 30px;
  border:none;
  background:#00b4d8;
  color:white;
  cursor:pointer;
}

/* SEARCH */

.search-box{
  padding:40px;
  text-align:center;
}

.search-box input{
  padding:12px;
  width:300px;
}

/* COURSES */

.courses{
  padding:50px 8%;

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(250px,1fr));

  gap:20px;
}

.card{
  background:white;
  padding:30px;
  border-radius:10px;
}

/* CONTACT */

.contact{
  padding:50px 8%;
}

.contact form{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.contact input,
.contact textarea{
  padding:14px;
}